body {
background-color: aqua;
font-size: larger;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, ;
font-style: italic;
}

 #decrease {
    background-color: red;
    font-size: larger;

 }
 #reset{
    background-color: black;
    color: aliceblue;
    font-size: larger;
 }
  #increase{
    background-color:red ;
    font-size: larger;
  }
  #counter_value {
    font-size: larger;
  }